.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  padding: 10px 30px;
  border-bottom: 1px solid #ccc;
}

.navbar-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: #8ce6df;
  margin: 0;
}

.navbar-right {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #8ce6df;
}

.active {
  color: #8ce6df;
  font-weight: 500;
}
